<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutDefault}"
	  xmlns:shopbeer="http://shopbeer.rafaelvieira.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de venda</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${sale.new}" th:text="#{sale.register.title}">Cadastro de venda</h1>
					<h1 th:unless="${sale.new}" th:text="#{sale.edit.title(${sale.code})}">Edi&ccedil;ão da venda nº </h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:action="@{/sales/new}" th:object="${sale}" class="js-main-form">
			<shopbeer:message/>
		
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			<input type="hidden" th:field="*{code}"/>
			<input type="hidden" th:field="*{userEmployee}"/>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="aw-box  js-valor-total-box-container">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-3x"></i>
						</div>
						<div class="aw-box__value">R$<span class="js-value-total-box" th:text="${{sale.amount}}">0,00</span></div>
						<div class="aw-box__title">Total</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-tag  fa-3x"></i>
						</div>
						<div class="aw-box__value" th:text="${sale.status.description}">Orçamento</div>
						<div class="aw-box__title">Status</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-calendar  fa-3x"></i>
						</div>
						<div class="aw-box__value">
							<span class="js-tooltip" th:if="${sale.creationDays == 0}">Hoje</span>
							<span class="js-tooltip" th:if="${sale.creationDays == 1}">H&aacute; 1 dia</span>
							<span class="js-tooltip" th:if="${sale.creationDays > 1}">Há [[${sale.creationDays}]] dias</span>
						</div>
						<div class="aw-box__title">Criação</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-groupEmployee  col-sm-4  bw-required" shopbeer:classforerror="costumer.code">
					<label class="control-label" for="nameCostumer">Cliente</label>
					<div class="input-groupEmployee">
				      <input id="nameCostumer" type="text" readonly="readonly" class="form-control" th:field="*{costumer.name}"
				      	placeholder="Clique na lupa para pesquisar o cliente"/>
				      <input id="codeCostumer" type="hidden" th:field="*{costumer}"/>
				      <span class="input-groupEmployee-btn">
				        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
				        		data-toggle="modal" data-target="#searchQuickCostumer" th:disabled="${sale.isSaveForbidden()}">
				        	<i class="glyphicon  glyphicon-search"></i>
				        </button>
				      </span>
				    </div>
				</div>
				
				<div class="form-groupEmployee  col-sm-4">
					<label class="control-label" for="valueShipping">Valor do frete</label>
					<div class="input-groupEmployee">
	      				<div class="input-groupEmployee-addon">R$</div>
						<input type="text" maxlength="14" class="form-control  js-decimal" id="valueShipping"
							th:field="*{valueShipping}" data:value="${valueShipping}" th:disabled="${sale.isSaveForbidden()}"/>
					</div>
				</div>
				
				<div class="form-groupEmployee  col-sm-4">
					<label class="control-label" for="valueDiscount">Valor do desconto</label>
					<div class="input-groupEmployee">
	      				<div class="input-groupEmployee-addon">R$</div>
						<input type="text" maxlength="14" class="form-control  js-decimal" id="valueDiscount"
							th:field="*{valueDiscount}" data:value="${valueDiscount}" th:disabled="${sale.isSaveForbidden()}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-groupEmployee  col-lg-12">
					<ul class="nav nav-tabs  js-abas-venda">
					  <li role="presentation" class="active"><a href="#beers">Cervejas</a></li>
					  <li role="presentation"><a href="#delivery">Entrega</a></li>
					</ul>
				</div>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane active" id="beers">

					<div class="row">
						<div class="form-groupEmployee  col-lg-12">
							<input type="text" class="form-control  js-sku-nome-cerveja-input" id="beer"
								placeholder="Pesquise e adicione a cerveja pelo SKU ou nome" autofocus="autofocus" 
								data:url="@{/beers}" th:disabled="${sale.isSaveForbidden()}"/>
						</div>
					</div>
					
					<div class="bw-tabela-cervejas  js-table-beers-container" data:value="${totalValueItems}">
						<th:block th:replace="sale/SalesItemTable"/>
					</div>
				</div>
				
				<div class="tab-pane" id="delivery">
					<div class="row">
						<div class="form-groupEmployee  col-sm-3" shopbeer:classforerror="deliveryDate">
							<label class="control-label" for="deliveryDate">Data da entrega</label>
							<input type="text" class="form-control" id="deliveryDate" th:field="*{deliveryDate}" th:disabled="${sale.isSaveForbidden}"/>
						</div>
						
						<div class="form-groupEmployee  col-sm-3">
							<label class="control-label" for="dateTimeDelivery">Horário de entrega</label>
							<input type="text" class="form-control" id="dateTimeDelivery" th:field="*{dateTimeDelivery}" th:disabled="${sale.isSaveForbidden}"/>
						</div>
					</div>
					
					<div class="row">
						<div class="form-groupEmployee  col-sm-12">
							<textarea class="form-control" id="dataEntrega" rows="5"
								placeholder="Alguma observação para o entregador desse pedido?" th:field="*{observation}" th:disabled="${sale.isSaveForbidden}"></textarea>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" style="clear: both" th:if="${sale.isSaveAllowed}">
				<div class="col-lg-12">
					<div class="btn-groupEmployee">
					  <button type="submit" class="btn  btn-primary  js-submit-btn" data:action="save">Salvar</button>
					  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
					    <span class="caret"></span>
					  </button>
					  
					  <ul class="dropdown-menu">
					    <li><a href="#" class="js-submit-btn" data:action="issue">Salvar e emitir</a></li>
					    <li><a href="#" class="js-submit-btn" data:action="sendEmail">Salvar e enviar por e-mail</a></li>
					  </ul>
					</div>
				
					<button class="btn  btn-danger  js-submit-btn" data:action="cancel" th:unless="${sale.new}">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
	
	<th:block th:replace="costumer/QuickCostumerSearch :: searchQuickCostumer"></th:block>
	<th:block th:replace="hbs/TemplateAutocompleteBeer"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/costumer.search-quick.js}"></script>
	<script th:src="@{/javascripts/sale.autocomplete-itens.js}"></script>
	<script th:src="@{/javascripts/sale.table-itens.js}"></script>
	<script th:src="@{/javascripts/sale.js}"></script>
	<script th:src="@{/javascripts/sale.buttons-submit.js}"></script>
	<script>
	$(function() {
		$('.js-abas-venda a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
</th:block>

</html>
